.menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  top: 80px;
  right: 0;

  background-color: rgba(0, 0, 0, 0.8);
  border-top: solid whitesmoke 1px;
  width: 100vw;
  height: 90vh;
  padding-bottom: 100%;
}

.menu-mobile a {
  font-size: 40px;
}
