.your-posts {
  margin: 0 30px;
}

.your-posts-post {
  line-height: 25px;
  margin: 40px auto;
  padding: 15px 20px 45px;
  border-radius: 8px;
  border: solid whitesmoke 2px;
  word-break: break-word;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.no-uploads {
  margin: 30px;
  text-align: center;
}

.delete-btn {
  cursor: pointer;
  font-size: 30px;
  float: right;
  color: rgb(197, 49, 49);
}
