.explore-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10px;
}

.explore-post {
  width: 80%;
  line-height: 25px;
  height: 180px;
  margin: 40px auto 0;
  padding: 10px 20px;
  border-radius: 8px;
  border: solid whitesmoke 2px;
  word-break: break-word;
}

.post-title {
  margin-bottom: 10px;
  text-align: left;
  font-size: 26px;
}

.post-author {
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: solid rgb(207, 205, 205) 1px;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.btn-read-more {
  background-color: rgb(197, 49, 49);
  color: white;
  border: none;
  border-radius: 9px;
  padding: 6px 0;
  cursor: pointer;
  margin-left: 10px;
}

.btn-read-more a {
  margin: 0;
}
