.explore-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10px;
}

.explore-post {
  width: 80%;
  line-height: 25px;
  min-height: 140px;
  margin: 40px auto 0;
  padding: 10px 20px;
  border-radius: 8px;
  border: solid whitesmoke 2px;
  word-break: break-word;
}

.post-title {
  margin-bottom: 5px;
  text-align: left;
  font-size: 26px;
}

.post-author {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.post-date {
  margin-top: -2px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: rgba(117, 117, 117, 1);
}

.post-text {
  margin-top: 5px;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.btn-read-more {
  background-color: rgb(197, 49, 49);
  color: white;
  border: none;
  border-radius: 9px;
  padding: 6px 0;
  cursor: pointer;
  margin-left: 10px;
}

.btn-read-more a {
  margin: 0;
}

@media (max-width: 850px) {
  .explore-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .explore-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1400px) {
  .explore-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
