@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&family=Staatliches&family=Varela+Round&display=swap");

* {
  margin: 0;
}

body {
  padding-bottom: 30px;
}

h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 17.5px;
}
